<% provide(:title, 'Help') %>
<h1>Help</h1>
<div class="center hero-unit">
  <h3>
    How to use this awesome app
  </h3>
  <ol>
    <li>
      Create a user first by <%= link_to "clicking here", signup_path %> and filling in the signup form.
    </li>
    <li>
      You can then start to make posts and you will see them appear in your post feed.
    </li>
  </ol>
</div>
